.app {
    padding: 0 2em;
    display: grid;
    grid-template-areas: "header" "main";
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

@media (min-width: 768px) {
    .app {
        grid-template-areas: "header main";
        grid-template-columns: 1fr 3fr;
    }
}